@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


body {
    font-family: 'NanumSquare', sans-serif !important;
    margin: 0;
    background-color: black;
    color: white;
}

img {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-zoom: none;
}

.ttl {
    width: 200px;
    display: block;
    margin: 0px auto;
}

.entry {
    transition: 0.5s;
    width: 130px;
    height: 50px;
    background-color: white;
    border-radius: 5px 0 0 5px;
    color: rgba(255, 255, 255, 0);
    font-size: 0px;
    text-align: center;
    line-height: 10px;
    float: left;
    border: 1px solid black;
    background-image: url("ent.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.entry:hover {
    transition: 0.5s;
    width: 130px;
    height: 50px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px 0 0 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    float: left;
    border: 1px solid black;
    background-image: url("ent.png");
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
    cursor: pointer;
}

.wizlab {
    transition: 0.5s;
    width: 130px;
    height: 50px;
    background-color: white;
    color: rgba(255, 255, 255, 0);
    font-size: 0px;
    text-align: center;
    line-height: 10px;
    float: left;
    border: 1px solid black;
    background-image: url("wiz.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.wizlab:hover {
    transition: 0.5s;
    width: 130px;
    height: 50px;
    background-color: rgb(36, 36, 36);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    float: left;
    border: 1px solid black;
    background-image: url("wiz.png");
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
    cursor: pointer;
}

.youtube {
    transition: 0.5s;
    width: 130px;
    height: 50px;
    background-color: white;
    color: rgba(255, 255, 255, 0);
    border-radius: 0 5px 5px 0;
    font-size: 0px;
    text-align: center;
    line-height: 10px;
    float: left;
    border: 1px solid black;
    background-image: url("yt.png");
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: center;
    cursor: pointer;
}
.youtube:hover {
    transition: 0.5s;
    width: 130px;
    height: 50px;
    background-color: rgb(36, 36, 36);
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    float: left;
    border: 1px solid black;
    background-image: url("yt.png");
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
    cursor: pointer;
}

.site {
    transition: 0.5s;
    width: 600px;
    height: 55px;
    background-color: white;
    color: black;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 15px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    background-image: url("site.png");
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.site:hover {
    transition: 0.5s;
    width: 600px;
    height: 55px;
    background-color: rgb(36, 36, 36);
    color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 15px;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    background-image: url("site.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.play {
    transition: 0.5s;
    width: 600px;
    height: 55px;
    background-color: white;
    color: black;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 15px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    background-image: url("play.png");
    background-repeat: no-repeat;
    background-size: 0;
    background-position: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.play:hover {
    transition: 0.5s;
    width: 600px;
    height: 55px;
    background-color: rgb(36, 36, 36);
    color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 15px;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    background-image: url("play.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.end{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 30px;
}

::selection {
   background: rgb(192, 192, 192);
   color: #fff;
}